.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 30px;
    }
  }
}