.BackButton {
  margin-top: 20px;
  a {
    margin-left: auto;
    width: 120px;
    height: 40px;
    background-color: #dcdcdc;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      background-color: #9b9b9b;
    }
  }
}