.AllCryptos{
  padding-top: 100px;
  h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .chose-currency {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-size: 20px;
      font-weight: bold;
    }
    .dropdown {
      button {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
  .headings {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    span {
      flex: 0 0 25%;
    }
  }
}